# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/0031flyfishing
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep

# Theme JS
/web/app/themes/0031flyfishing/js/node_modules
.DS_Store
/web/app/themes/0031flyfishing/js/bundle.js
